nbdev
psycopg2
SQLAlchemy
pandas
Pillow
voila
fastapi==0.63.0
transformers==4.12.5
tokenizers
diffusers
datasets
scipy
dateparser
matplotlib
plotly
ftfy
schedule
psutil
pymilvus
wrapt
tensorboard
nltk
sentencepiece
boto3
regex
uvicorn[standard]
ninja
mpi4py
pytelegrambotapi
tendo
docker
fastai
